*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #ffffff;
    padding-top: 22px;
}
.container{
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}
.header_link{
    color: rgb(222, 46, 84);
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    text-decoration: none;
}
.header_btn{
    width: 160px;
    border-radius: 6px;
    background: white;
    color: rgb(222, 46, 84);
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    padding: 10px 0;
}
.header__btn:hover{
    background-color: transparent;
    border: 1px solid rgb(222, 46, 84);
    color: rgb(222, 46, 84);
    transition: 0.4s ease-in-out;
}
.header_link:hover{
    color: red;
    transition: 0.4s ease-in-out;
}
.header_link:active{
    color: blue;
    transition: o.4s ease-in-out;
}
.work{
    position: relative;
    padding-top: 270px;
    padding-bottom: 88px;
    background-color: #ffffff;
}
.work_position{
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    background-position: center;
    background-image: url(./images/img1.png);
    background-repeat: no-repeat;
    padding-top: 87px;
    padding-bottom: 60px;
    text-align: center;
    width: 1600px;
    height: 450px;
}
.work_textbox{
    width: 653px;
    margin: 0 auto;
}
.work_title{
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}
.work_btn{
    width: 135px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 46, 84);
    border-radius: 9999px;
    background-color:rgb(222, 46, 84) ;
    padding: 10px 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}
.collection{
    padding-top: 108px;
    padding-bottom: 89px;
}
.collection__heading{
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    text-align: center;
    margin-bottom: 42px;
}
.collection__textbox{
    width: 403px;
}
.collection__title{
    color: #000000;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}
.collection__text{
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
}
.collection__list{
    width: 988px;
    margin: 0 auto;
}
.collection__item{
    display: flex;
    align-items: center;
    /*flex-wrap: wrap; */
    justify-content: center;
    list-style: none;
    justify-content: space-between;
}
.img1{
    position: absolute;
    width: 330px;
    height: 285.19px;
    left: 164px;
    right: 946px;
    top: 1099px;
    bottom: 595.81px;
}
.img2{
    position: absolute;
    width: 330px;
    height: 286px;
    left: 556px;
    right: 554px;
    top: 1099px;
    bottom: 595px;
}
.img3{
    position: absolute;
    width: 330px;
    height: 285px;
    left: 948px;
    right: 162px;
    top: 1099px;
    bottom: 596px;
}
.img4{
    position: absolute;
    width: 513px;
    height: 331px;
    left: 164px;
    right: 763px;
    top: 1500px;
    bottom: 152px;
}
.img5{
    position: absolute;
    width: 540px;
    height: 331px;
    left: 763px;
    right: 164px;
    top: 1500px;
    bottom: 152px;
}
.iframe{
    margin-top: 500px;
}
.big{
    display: flex;
    background-color: aqua;
    width: 100%;
}
.form{
    width: 460px;
    height: 331.11px;
    left: 0;
    top: 0;
    margin-top: 500px;
    padding: 30px 40px;
    background-color: #ffffff;
}
input{
    width: 100%;
    height: 40px;
}
.bg_btn{
    display: flex;
    margin: 0 auto;
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 20px 10px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    background-color: rgb(26, 171, 123);
}
.footer{
    background-color: #000000;
}

